body{
  background-color:#90EE90;
 font-family: "Times New Roman", sans-serif;
 font-size: 12pt;
 color: black; 
}


header{
 text-align: center;
 padding-bottom: 20px;
 border-bottom: 1px solid #37614f;
 margin-bottom: 5px;
}

h1{
 font-family: "Georgia", sans- serif;
 font-size: 30px;
 color: black;
}

p{
 font-family: "Cambria", Arial; 
  color: black;
}

div{
  border: 1px solid black;
 border-radius: 2px;
  
}

li{
 font-family: "Cambria", Arial;
}

footer{
 font-family: "Arial";
  background-color: #2f612f;
padding: 10px 20px;
  text-align: center;
  border-radius: 0;
  margin-top: 20px;
}
